In [1]:
import pandas as pd

In [3]:
total_df = pd.read_csv("./data/transcriptome_cpm_all_expressed_genes.csv")
total_df

,atID,wthp6,wthp6_2,wtlp6,wtlp6_2,wthp5,wthp5_2,wtlp5,wtlp5_2,wtal,...,stop1lp6,stop1lp6_2,stop1hp5,stop1hp5_2,stop1lp5,stop1lp5_2,stop1al,stop1al_2,s1fe,s1fe_2
0,AT1G01020,18.512358,17.602610,17.799929,20.364657,18.992583,21.925784,18.287405,21.480752,19.010360,...,20.432136,22.192620,21.396058,22.064116,18.238741,21.516514,21.571426,17.084388,16.595189,21.068461
1,AT1G01030,0.815972,1.068366,0.684613,0.452548,0.542645,0.403048,0.564136,0.290936,0.222995,...,1.104440,0.407544,1.086965,0.735471,1.053156,0.507901,0.596656,0.533887,1.132480,1.344795
2,AT1G01040,36.565732,34.085979,31.915991,53.513793,37.062670,34.783000,43.438463,49.216621,42.090387,...,35.392274,27.638890,31.808043,40.871148,38.152958,37.584640,43.877199,38.973760,23.651412,27.456240
3,AT1G01050,103.577409,109.889125,103.213510,96.223004,100.877751,106.001495,97.595507,100.954685,89.755659,...,109.439940,120.670058,98.685025,97.397312,105.698533,111.045526,86.285705,85.373404,104.536626,106.911235
4,AT1G01060,1.937933,1.780611,2.934054,2.884993,3.147342,3.667732,2.444589,2.133528,1.337973,...,2.510090,2.111819,1.544635,2.364012,1.148897,3.601477,1.331003,1.116309,5.444616,3.361989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20445,ATMG01130,0.458984,1.729736,0.130402,3.563815,0.217058,0.927009,0.094023,1.842593,0.836233,...,0.251009,0.333445,0.286044,0.840538,0.239354,0.461728,0.550760,0.339746,0.348455,0.280166
20446,ATMG01200,0.305989,1.373614,0.000000,1.527349,0.162794,0.282133,0.000000,0.290936,0.334493,...,0.150605,0.407544,0.171626,0.262668,0.143612,0.230864,0.688450,0.145606,0.130671,0.112066
20447,ATMG01360,0.152995,0.712244,0.195604,1.244507,0.488381,0.403048,0.047011,0.678850,1.114977,...,0.552220,1.630176,0.800922,0.367735,0.765931,1.108147,0.780243,1.019239,0.914695,1.120663
20448,ATMG01370,0.305989,1.068366,0.326006,1.244507,0.434116,0.403048,0.094023,0.193957,0.390242,...,0.150605,0.444593,0.000000,0.210134,0.191483,0.184691,0.137690,0.388282,0.174228,0.224133
20449,ATMG01390,35.392773,232.446024,90.857881,303.885935,36.302967,706.300453,136.567894,633.609449,547.732517,...,98.897561,37.790439,130.321442,265.977666,80.662150,31.212797,34.147109,160.020530,117.821489,55.921076

In [11]:
total_df.columns

Index(['atID', 'wthp6', 'wthp6_2', 'wtlp6', 'wtlp6_2', 'wthp5', 'wthp5_2',
       'wtlp5', 'wtlp5_2', 'wtal', 'wtal_2', 'wtfe', 'wtfe_2', 'stop1hp6',
       'stop1hp6_2', 'stop1lp6', 'stop1lp6_2', 'stop1hp5', 'stop1hp5_2',
       'stop1lp5', 'stop1lp5_2', 'stop1al', 'stop1al_2', 's1fe', 's1fe_2',
       'label'],
      dtype='object')

In [5]:
factor_df  = pd.read_csv("./data/Transcription_factors.csv")
factor_df

         TF_EXP      TF_DE
0     AT3G25730  AT1G25560
1     AT1G68840  AT1G01720
2     AT1G13260  AT1G05710
3     AT1G25560  AT1G05805
4     AT1G01260  AT1G09530
...         ...        ...
1200  AT5G53200        NaN
1201  AT5G56840        NaN
1202  AT5G58340        NaN
1203  AT5G58900        NaN
1204  AT5G67580        NaN

[1205 rows x 2 columns]

In [10]:
class_1 = factor_df["TF_EXP"].values
total_df["label"] = total_df.atID.apply(lambda x: 1 if x in class_1  else 0)
total_df["label"].value_counts()

0    19245
1     1205
Name: label, dtype: int64

In [12]:
choosen_cols = ['atID', 'wthp6', 'wthp6_2', 'wtlp6', 'wtlp6_2', 'wthp5', 'wthp5_2',
       'wtlp5', 'wtlp5_2', 'wtal', 'wtal_2', 'wtfe', 'wtfe_2', 'label']

In [14]:
total_df[choosen_cols].to_csv("./data/cleaned_data.csv", index=False)