# Import

In [22]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

from imblearn.over_sampling import SMOTE
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 199)

from datetime import datetime
import re
import os
import os.path
import math
import sys
import csv
import glob
import seaborn as sns
import numpy as np
import shap 
from collections import Counter

# import mlflow
# import mlflow.sklearn
# import pysftp

from sklearn.metrics import confusion_matrix
import seaborn as sns
pd.options.display.float_format = "{:.2f}".format

import pandas.core.algorithms as algos
from pandas import Series
import scipy.stats.stats as stats
import traceback
import string

import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm 

import pickle

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold, KFold
import lightgbm as lgb
from sklearn.metrics import mean_squared_error, accuracy_score, log_loss, roc_auc_score, f1_score

%run "/Users/chau/minhchau/jupyter_projects/jupyter_project_template-master/src/data_preparation/utils.py"
%run "/Users/chau/minhchau/jupyter_projects/jupyter_project_template-master/src/visualization/common_visualization.py"
%run "/Users/chau/minhchau/jupyter_projects/jupyter_project_template-master/src/data_preparation/common_eda.py"
%run "/Users/chau/minhchau/jupyter_projects/jupyter_project_template-master/src/modelling/regression_model.py"
%run "/Users/chau/minhchau/jupyter_projects/jupyter_project_template-master/src/data_preparation/common_dictionary.py"

print("current working folder: ", os.getcwd())
user_name = "chaupham"
# print("notebook kernel id: ", get_notebook_kernel_id())

current working folder:  /Users/chau/minhchau/jupyter_projects/plant_project

# Helper funcs

In [64]:
def convert_to_up_down_noChange(x, thres):
    if x[c] - x[base_col] > thres:  ##UP
        return "2"
    elif x[c] + thres < x[base_col]:
        return  "1" ## DOWN
    else:
        return "0" # NO_CHANGE

# Read input

In [65]:
df = pd.read_csv("./data/cleaned_data.csv")
df.shape

(20450, 14)

In [66]:
df.label.value_counts()

0    19245
1     1205
Name: label, dtype: int64

In [67]:
df.head()

        atID  wthp6  wthp6_2  wtlp6  wtlp6_2  wthp5  wthp5_2  wtlp5  wtlp5_2  wtal  wtal_2  wtfe  wtfe_2  label
0  AT1G01020  18.51    17.60  17.80    20.36  18.99    21.93  18.29    21.48 19.01   17.58 18.21   18.19      0
1  AT1G01030   0.82     1.07   0.68     0.45   0.54     0.40   0.56     0.29  0.22    0.81  0.93    0.62      1
2  AT1G01040  36.57    34.09  31.92    53.51  37.06    34.78  43.44    49.22 42.09   36.11 32.94   17.10      0
3  AT1G01050 103.58   109.89 103.21    96.22 100.88   106.00  97.60   100.95 89.76   92.77 91.97  112.10      0
4  AT1G01060   1.94     1.78   2.93     2.88   3.15     3.67   2.44     2.13  1.34    1.89  3.52    1.89      1

In [68]:
wt_cols = ['wthp6', 'wtlp6',  'wthp5',  'wtlp5',  'wtal',  'wtfe']
wt_AVE_cols = [c + "_ave" for c in wt_cols]
wt_new_cols = wt_AVE_cols[1:]
for c in wt_cols:
    df[c + "_ave"] = (df[c] + df[c + "_2"]) / 2
    
df.columns

Index(['atID', 'wthp6', 'wthp6_2', 'wtlp6', 'wtlp6_2', 'wthp5', 'wthp5_2', 'wtlp5', 'wtlp5_2', 'wtal', 'wtal_2', 'wtfe', 'wtfe_2', 'label', 'wthp6_ave', 'wtlp6_ave', 'wthp5_ave', 'wtlp5_ave', 'wtal_ave', 'wtfe_ave'], dtype='object')

In [69]:
df.head()

        atID  wthp6  wthp6_2  wtlp6  wtlp6_2  wthp5  wthp5_2  wtlp5  wtlp5_2  wtal  wtal_2  wtfe  wtfe_2  label  wthp6_ave  wtlp6_ave  wthp5_ave  wtlp5_ave  wtal_ave  wtfe_ave
0  AT1G01020  18.51    17.60  17.80    20.36  18.99    21.93  18.29    21.48 19.01   17.58 18.21   18.19      0      18.06      19.08      20.46      19.88     18.30     18.20
1  AT1G01030   0.82     1.07   0.68     0.45   0.54     0.40   0.56     0.29  0.22    0.81  0.93    0.62      1       0.94       0.57       0.47       0.43      0.52      0.77
2  AT1G01040  36.57    34.09  31.92    53.51  37.06    34.78  43.44    49.22 42.09   36.11 32.94   17.10      0      35.33      42.71      35.92      46.33     39.10     25.02
3  AT1G01050 103.58   109.89 103.21    96.22 100.88   106.00  97.60   100.95 89.76   92.77 91.97  112.10      0     106.73      99.72     103.44      99.28     91.26    102.04
4  AT1G01060   1.94     1.78   2.93     2.88   3.15     3.67   2.44     2.13  1.34    1.89  3.52    1.89      1       1.86       2.91       3.41       2.29      1.61      2.71

In [70]:
data

            atID  wtlp6_ave  wthp5_ave  wtlp5_ave   wtal_ave   wtfe_ave
0      AT1G01020  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
1      AT1G01030  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
2      AT1G01040  NO_CHANGE  NO_CHANGE         UP  NO_CHANGE       DOWN
3      AT1G01050  NO_CHANGE  NO_CHANGE  NO_CHANGE       DOWN  NO_CHANGE
4      AT1G01060  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
...          ...        ...        ...        ...        ...        ...
20445  ATMG01130  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
20446  ATMG01200  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
20447  ATMG01360  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
20448  ATMG01370  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE  NO_CHANGE
20449  ATMG01390         UP         UP         UP         UP         UP

[20450 rows x 6 columns]

In [76]:
data = df[["atID"]].copy()
thres = 10
base_col = wt_AVE_cols[0]
for c in wt_new_cols:
    data[c] = df.apply(lambda x: convert_to_up_down_noChange(x, thres), 1)
stats_df = data.groupby(wt_new_cols).count().reset_index().sort_values("atID", ascending= False).reset_index(drop=True).rename(columns = {"atID": "#genes"})
stats_df

    wtlp6_ave wthp5_ave wtlp5_ave wtal_ave wtfe_ave  #genes  group_id
0           0         0         0        0        0   14396     14396
1           0         0         0        0        2     904       904
2           0         0         0        0        1     613       613
3           0         0         0        2        2     333       333
4           1         1         1        1        1     318       318
5           0         0         0        2        0     240       240
6           0         0         0        1        0     228       228
7           2         0         2        0        1     181       181
8           0         0         0        1        1     155       155
9           1         1         1        1        2     147       147
10          1         1         1        1        0     131       131
11          2         0         0        0        1      99        99
12          0         0         1        1        1      94        94
13          0         1         1        1        1      94        94
14          0         0         2        0        0      93        93
15          2         2         2        2        2      76        76
16          2         0         2        2        1      74        74
17          0         0         2        2        2      73        73
18          0         0         0        1        2      69        69
19          2         0         0        0        0      68        68
20          0         2         2        2        2      63        63
21          0         0         2        0        1      62        62
22          0         0         1        1        0      59        59
23          2         2         2        2        1      59        59
24          2         0         2        0        0      55        55
25          2         0         2        2        0      54        54
26          0         2         0        0        0      54        54
27          1         0         1        1        2      49        49
28          1         0         1        1        1      46        46
29          0         0         2        2        0      42        42
30          0         0         1        0        0      40        40
31          2         1         1        1        1      40        40
32          0         2         0        0        2      40        40
33          2         2         2        0        1      39        39
34          0         2         2        0        0      37        37
35          0         0         2        0        2      36        36
36          1         0         0        0        2      35        35
37          0         2         2        0        2      34        34
38          1         0         1        1        0      33        33
39          2         0         0        2        0      33        33
40          2         2         2        2        0      31        31
41          0         0         1        1        2      30        30
42          1         1         1        0        1      28        28
43          0         1         0        0        1      25        25
44          1         0         0        0        0      24        24
45          1         0         0        2        2      24        24
46          1         1         1        2        2      24        24
47          0         0         1        0        1      23        23
48          0         1         1        1        0      22        22
49          1         2         2        2        2      22        22
50          2         2         2        0        0      22        22
51          2         0         0        2        1      21        21
52          1         0         0        1        0      21        21
53          2         0         2        2        2      20        20
54          1         0         1        0        2      20        20
55          1         0         0        1        2      19        19
56          1         1         1        0        0      19        19
57          1         1         1        0        2      17        17
58          0         2         2        1        2      17        17
59          0         0         1        0        2      17        17
60          2         2         2        0        2      17        17
61          0         0         0        2        1      16        16
62          2         2         2        1        1      16        16
63          2         2         2        1        2      15        15
64          1         0         0        1        1      15        15
65          0         0         1        2        2      14        14
66          1         2         2        1        2      14        14
67          0         1         1        0        1      13        13
68          2         0         0        1        1      13        13
69          0         1         0        1        1      13        13
70          0         1         1        1        2      13        13
71          1         0         1        2        2      12        12
72          2         0         2        1        1      12        12
73          2         0         1        1        1      12        12
74          0         0         2        2        1      12        12
75          0         1         1        2        2      12        12
76          2         2         0        1        1      12        12
77          2         2         1        1        1      11        11
78          1         1         0        1        1      11        11
79          0         2         2        2        0      11        11
80          0         2         0        2        2      11        11
81          0         2         0        2        0      10        10
82          0         2         0        1        0      10        10
83          1         1         0        0        1      10        10
84          0         2         0        1        1      10        10
85          0         0         2        1        2      10        10
86          2         0         0        2        2      10        10
87          1         2         1        1        2       9         9
88          0         1         0        0        0       9         9
89          2         0         2        0        2       9         9
90          1         0         2        2        2       9         9
91          1         0         1        0        0       9         9
92          0         2         1        1        1       9         9
93          1         1         0        1        0       8         8
94          0         1         1        0        0       8         8
95          2         1         0        1        1       8         8
96          0         2         0        0        1       8         8
97          1         2         1        1        1       8         8
98          1         1         1        2        1       7         7
99          0         1         0        1        2       7         7
100         0         1         1        0        2       7         7
101         1         2         0        2        2       7         7
102         1         1         0        2        2       7         7
103         2         1         1        0        1       7         7
104         1         1         2        2        2       7         7
105         0         1         1        2        1       7         7
106         1         0         0        2        0       7         7
107         2         0         0        0        2       6         6
108         2         1         0        0        1       6         6
109         1         2         0        1        2       5         5
110         1         2         2        0        2       5         5
111         1         0         0        0        1       5         5
112         1         1         0        0        0       5         5
113         2         1         2        1        1       5         5
114         0         2         2        1        1       5         5
115         2         2         0        0        1       5         5
116         2         2         0        0        0       5         5
117         1         1         0        1        2       5         5
118         2         1         2        2        2       5         5
119         1         1         0        0        2       5         5
120         0         2         2        1        0       4         4
121         2         1         2        2        1       4         4
122         2         1         1        1        2       4         4
123         2         2         0        2        1       4         4
124         0         1         0        2        2       4         4
125         2         1         0        2        1       4         4
126         1         2         0        0        2       4         4
127         2         0         0        1        0       4         4
128         2         2         2        1        0       3         3
129         0         1         0        1        0       3         3
130         0         0         2        1        1       3         3
131         2         1         1        2        1       3         3
132         1         2         2        1        1       3         3
133         2         0         2        1        2       3         3
134         1         2         1        0        1       3         3
135         1         2         0        1        1       3         3
136         2         1         2        0        1       3         3
137         2         2         1        0        1       3         3
138         0         2         2        0        1       3         3
139         2         0         1        0        2       3         3
140         1         0         1        0        1       3         3
141         2         1         0        2        0       2         2
142         2         2         1        2        2       2         2
143         2         2         0        2        0       2         2
144         2         2         0        0        2       2         2
145         2         2         0        1        0       2         2
146         0         0         1        2        1       2         2
147         1         1         1        2        0       2         2
148         1         0         2        1        2       2         2
149         1         2         1        1        0       2         2
150         1         0         2        0        2       2         2
151         2         0         1        0        1       2         2
152         0         2         2        2        1       2         2
153         0         2         1        1        2       2         2
154         1         2         0        0        0       2         2
155         0         2         1        0        1       2         2
156         1         0         1        2        1       2         2
157         0         2         0        1        2       2         2
158         1         0         1        2        0       2         2
159         0         1         1        2        0       2         2
160         1         2         1        2        2       2         2
161         0         1         0        0        2       2         2
162         2         0         0        1        2       2         2
163         0         0         1        2        0       2         2
164         0         1         2        1        1       1         1
165         2         2         1        1        2       1         1
166         0         2         1        0        0       1         1
167         2         2         1        1        0       1         1
168         0         1         0        2        1       1         1
169         0         1         0        2        0       1         1
170         0         2         1        1        0       1         1
171         2         2         0        1        2       1         1
172         1         0         0        2        1       1         1
173         0         0         2        1        0       1         1
174         0         2         0        2        1       1         1
175         2         0         1        1        0       1         1
176         1         0         2        0        1       1         1
177         1         0         2        2        1       1         1
178         2         0         1        2        1       1         1
179         2         0         1        0        0       1         1
180         1         2         2        2        1       1         1
181         1         2         2        2        0       1         1
182         1         2         2        1        0       1         1
183         1         2         1        2        1       1         1
184         1         2         1        0        2       1         1
185         1         2         0        2        1       1         1
186         1         2         0        2        0       1         1
187         1         2         0        1        0       1         1
188         2         1         0        2        2       1         1
189         1         2         0        0        1       1         1
190         2         1         1        1        0       1         1
191         1         1         2        1        2       1         1
192         1         1         2        0        2       1         1
193         1         1         2        0        0       1         1
194         2         1         2        0        2       1         1
195         1         1         0        2        0       1         1

In [78]:
data["group_id"] = data[wt_new_cols].apply(lambda x: "".join(x[c] for c in wt_new_cols),1)

data.head()

        atID wtlp6_ave wthp5_ave wtlp5_ave wtal_ave wtfe_ave group_id
0  AT1G01020         0         0         0        0        0    00000
1  AT1G01030         0         0         0        0        0    00000
2  AT1G01040         0         0         2        0        1    00201
3  AT1G01050         0         0         0        1        0    00010
4  AT1G01060         0         0         0        0        0    00000

In [81]:
unique_groups = data.group_id.unique()
DataFrameDict = {elem : pd.DataFrame for elem in unique_groups}

for key in DataFrameDict.keys():
    DataFrameDict[key] = data[:][data.group_id == key]

            atID wtlp6_ave wthp5_ave wtlp5_ave wtal_ave wtfe_ave group_id
0      AT1G01020         0         0         0        0        0    00000
1      AT1G01030         0         0         0        0        0    00000
4      AT1G01060         0         0         0        0        0    00000
5      AT1G01070         0         0         0        0        0    00000
6      AT1G01080         0         0         0        0        0    00000
...          ...       ...       ...       ...      ...      ...      ...
20444  ATMG01120         0         0         0        0        0    00000
20445  ATMG01130         0         0         0        0        0    00000
20446  ATMG01200         0         0         0        0        0    00000
20447  ATMG01360         0         0         0        0        0    00000
20448  ATMG01370         0         0         0        0        0    00000

[14396 rows x 7 columns]